mat-table {
    width: 100%;
    margin: 0 auto;
  }
  
  mat-header-cell, mat-cell {
    text-align: center;
  }
  
  mat-header-cell {
    font-weight: bold;
  }
  
  img {
    border-radius: 50%;
  }
  